* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    

}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.box {
    display: flex;
    flex-flow: row wrap;
}

.box-elem {
    flex: 0 0 auto;
    box-sizing: border-box;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
