.container {
    height: 100%;
    display: flex;
}

.drawing-container {
    overflow: auto;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto 50px;
}

.drawing {
    width: min-content;
    height: auto;
    outline: none;
}
