<div class="container">
    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened [disableClose]="true">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
    </mat-sidenav-container>
    <mat-sidenav-container>
        <mat-sidenav #toolAttributeSidenav mode="side" closed>
            <app-attribute-panel></app-attribute-panel>
        </mat-sidenav>
    </mat-sidenav-container>

    <!-- <div>
        <app-sidebar-color-options></app-sidebar-color-options>
    </div> -->
    <div #workzone class="drawing-container">
        <app-drawing [canvasSize]="canvasSize" class="drawing" tabindex="0"></app-drawing>
        <div #bottomAnchor id="bottomAnchor" class="anchor" (mousedown)="onMouseDown($event, 0)"></div>
        <div #rightAnchor id="rightAnchor" class="anchor" (mousedown)="onMouseDown($event, 1)"></div>
        <div #cornerAnchor id="cornerAnchor" class="anchor" (mousedown)="onMouseDown($event, 2)"></div>
        <div *ngIf="mouseDown" class="resize-preview" [style.width.px]="previewSize.x" [style.height.px]="previewSize.y"></div>
    </div>
</div>
