<app-sidebar-color-options></app-sidebar-color-options>

<!-- Tracing Tools -->
<div *ngIf="this.toolsService.selectedSideBarToolID === SidebarToolID.tracing" class="attribute-container">
    <label for="tracing">Outil de traçage</label>
    <select (change)="handleToolChange($event.target.value)" id="tracing">
        <option *ngFor="let tool of tracingTools" value="{{ tool.value }}">{{ tool.displayName }}</option>
    </select>
</div>

<!-- Shapes Tools -->
<div *ngIf="this.toolsService.selectedSideBarToolID === SidebarToolID.shapes" class="attribute-container">
    <label for="shapes">Formes</label>
    <select (change)="handleToolChange($event.target.value)" id="shapes">
        <option *ngFor="let tool of shapesTools" value="{{ tool.value }}">{{ tool.displayName }}</option>
    </select>
</div>

<!-- Pipette Tool -->
<div *ngIf="this.toolsService.selectedSideBarToolID === SidebarToolID.pipette && drawingService.mouseIsOverCanvas" class="attribute-container">
    <app-pipette-preview></app-pipette-preview>
</div>

<!-- Grid Tool -->
<div *ngIf="this.toolsService.selectedSideBarToolID === SidebarToolID.grid" class="attribute-container">
    <app-grid-options></app-grid-options>
</div>

<div *ngIf="toolOptions" class="attribute-container">
    <ng-container *ngFor="let option of toolOptions | keyvalue">
        <!-- Trace type list -->
        <ng-container *ngIf="option.key === Options.traceType">
            <label for="traceType">{{ option.value.displayName }}</label>
            <select (change)="updateToolOptionValue(option.key, $event.target.value)" id="traceType">
                <option *ngFor="let type of tracingTypes" value="{{ type.value }}">{{ type.displayName }}</option>
            </select>
        </ng-container>
        <!-- Brush textures -->
        <ng-container *ngIf="option.key === Options.texture">
            <label for="textureType">{{ option.value.displayName }}</label>
            <select (change)="updateToolOptionValue(option.key, $event.target.value)" id="textureType">
                <option *ngFor="let texture of textures" value="{{ texture.value }}">{{ texture.displayName }}</option>
            </select>
        </ng-container>
        <!-- Stamp Images -->
        <ng-container *ngIf="option.key === Options.stamp">
            <label for="stampType">{{ option.value.displayName }}</label>
            <select (change)="this.updateToolOptionValue(option.key, $event.target.value)" id="stampType">
                <option *ngFor="let stamp of stamps" value="{{ stamp.value }}">{{ stamp.displayName }}</option>
            </select>
        </ng-container>
        <!-- Size -->
        <ng-container *ngIf="option.key === Options.size">
            <label for="tracingThickness">{{ option.value.displayName }}</label>
            <div class="slide-container">
                <input
                    type="range"
                    min="1"
                    max="100"
                    value="1"
                    id="tracingThickness"
                    (input)="updateToolOptionValue(option.key, $event.target.value)"
                />
            </div>
        </ng-container>
        <!-- Stamp Size-->
        <ng-container *ngIf="option.key === Options.stampSize">
            <label for="tracingThickness">{{ option.value.displayName }}</label>
            <div class="slide-container">
                <input
                    type="range"
                    min="0.2"
                    max=5
                    value="0.1"
                    id="stampThicknessThickness"
                    (input)="this.updateToolOptionValue(option.key, $event.target.value)"
                />
            </div>
        </ng-container>
        <!-- Eraser size -->
        <ng-container *ngIf="option.key === Options.eraserSize">
            <label for="eraserSize">{{ option.value.displayName }}</label>
            <div class="slide-container">
                <input type="range" min="5" max="100" value="1" id="eraserSize" (input)="updateToolOptionValue(option.key, $event.target.value)" />
            </div>
        </ng-container>
        <!-- Bucket tolerance -->
        <ng-container *ngIf="option.key === Options.tolerance">
            <label for="tolerance">{{ option.value.displayName }}</label>
            <div class="slide-container">
                <input type="range" min="0" max="100" value="1" id="tolerance" (input)="updateToolOptionValue(option.key, $event.target.value)" />
            </div>
        </ng-container>
        <!-- Polygon number of sides -->
        <ng-container *ngIf="option.key === Options.numberOfSides">
            <label for="numberOfSides">{{ option.value.displayName }}</label>
            <div class="slide-container">
                <input type="range" min="3" max="12" value="1" id="numberOfSides" (input)="updateToolOptionValue(option.key, $event.target.value)" />
            </div>
        </ng-container>
        <!-- Selection types -->
        <ng-container *ngIf="option.key === Options.selectionType">
            <app-magnet-option></app-magnet-option>
            <label for="selection">Type de selection</label>
            <select (change)="updateToolOptionValue(option.key, $event.target.value)" id="selection">
                <option *ngFor="let type of selectorTypes" value="{{ type.value }}">{{ type.displayName }}</option>
            </select>
            <button (click)="selectionService.selectAllCanvas()">Tout Sélectionner</button>
        </ng-container>
    </ng-container>
</div>
