
.dialog {
  width: 90%;
  height: 90%;
  border-color: burlywood;
  background-color: burlywood;
}

.example-header-image {
  background-size: cover;
}

li {
  float: left;
  list-style-type: none;
}

.load {
  height: fit-content;
  width: fit-content;

}

.drawing{
  max-width: 250px;
  max-height: 200px;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.tags{
 position: absolute;
 bottom: 20%;
}

.buttons{
  position: absolute;
  bottom : 27%;
  right : 20%;
}

.tag {
  border: 2px solid gray ;
  border-radius: 5px;
  margin: 5px;
  padding-left: 5px;
  float: left;
}


.tags-container {
  // display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  max-width: 450px;
  flex-wrap: wrap;
}
