.server-message {
  justify-content: center;
  width: 20%;
  min-width: min-content;
  color: red;
}

.example-card {
  max-width: 400px;
  max-height: 400px;

}

.example-header-image {
  background-size: cover;
}

li {
  float: left;
}
