<div>
        <ng-container *ngIf="drawingsInfo.value.length > 0">
        <button mat-raised-button (click)="goToPreviousDrawing()" >Previous</button>
        <li *ngFor="let currentDrawing of currentDrawings.value; let i = index">
        <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><p>{{currentDrawing?.name}}</p></mat-card-title>
        <mat-card-subtitle><p *ngFor="let tag of currentDrawing?.tags">{{tag}}</p></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{currentDrawing?.metadata}}>
        </mat-card><br><br>
        <button mat-raised-button (click)="deleteDrawing(drawingsInfo.value[getDrawingPosition(drawingCounter + i - 1)].id)">
        Delete drawing</button>
        </li>
        <button mat-raised-button (click)="goToNextDrawing()" >Next</button><br><br><br>
      </ng-container>
        Filtrer les dessins:<br>
        Nom:<input>
        Tags:<input>

</div>
