<div class ="dialog">
      <ng-container *ngIf="carouselService.drawingsInfo?.value?.length === 0
        || (carouselService.filteredDrawings?.length === 0 && carouselService.tags?.length > 0); else elseBlock">{{displayedMessage}}</ng-container>
        <ng-template #elseBlock>
        <li *ngFor="let currentDrawing of carouselService.currentDrawings; let i = index">
        <button class="load" mat-raised-button mat-dialog-close routerLink="/editor" routerLinkActive="active" (click)="loadDrawing(currentDrawing)">
          <mat-card class="example-card">
          <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><p>{{currentDrawing?.name}}</p></mat-card-title>
          <mat-card-subtitle><li *ngFor="let tag of currentDrawing?.tags">
          <mat-icon>
          label
          </mat-icon>{{tag}}</li></mat-card-subtitle>
          </mat-card-header>
          <img class = "drawing" mat-card-image src={{currentDrawing?.metadata}}>
          </mat-card>
        </button>
          <button mat-raised-button
          (click)="deleteDrawing(carouselService.drawingsInfo?.
          value[getDrawingPosition(carouselService.drawingCounter + i - 1)].id)">
          <mat-icon>
          delete
          </mat-icon></button>
        </li>
        <div class="buttons">
        <button mat-raised-button (click)="goToPreviousDrawing()" >Précédent</button>
        <button mat-raised-button (click)="goToNextDrawing()" >Suivant</button>
        </div>
      </ng-template>
        <mat-form-field>
        <mat-label>Tag</mat-label>
        <input matInput [formControl]="carouselService.tagInput">
        <mat-error *ngIf="carouselService.tagInput?.invalid">Ce tag ne respecte pas les conditions mentionnées plus haut</mat-error>
    </mat-form-field>
    <button mat-icon-button (click)="addTag()" [disabled]="carouselService.tagInput?.invalid"><mat-icon>add</mat-icon></button>
    <div class="tags-container">
        <div class="tag" *ngFor="let tag of carouselService.tags">
            <span>{{tag}}</span>
            <button mat-icon-button (click)="deleteTag(tag)"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
</div>
