<div class="container">
    <button mat-raised-button class="button" (click)="toggleGrid()">{{ buttonText }}</button>
    <label>Grosseur</label>
    <div class="slider-container">
        <input type="range" (input)="updateSize($event.target.valueAsNumber)" min="10" max="200" step="5" [value]="gridService.squareSize" />
        <span>{{ gridService.squareSize }}</span>
    </div>
    <label>Transparence</label>
    <div class="slider-container">
        <input
            type="range"
            (input)="updateTransparency($event.target.valueAsNumber)"
            min="10"
            max="100"
            step="1"
            [value]="gridService.transparency * 100"
        />
        <span>{{ gridService.transparency | percent }}</span>
    </div>
</div>
