canvas {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #000000;
    box-sizing: border-box;
}

#mainCanvas {
    border: 2px solid #000000;
    z-index: 0;
}

#previewCanvas {
    z-index: 1;
}

#selectionLayer {
    z-index: 2;
    border: none;
}

#gridLayer {
    cursor: crosshair;
    z-index: 3;
}

#canvas-container {
    position: relative;
}
