.color-option-container {
    align-items: center;
}

.color-preview {
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid white;
    margin: 5px auto 10px auto ;
    
}

.color-history-wrapper {
    width: 100%;
}

.color-choice {
    width: 20px;
    height: 20px;
    margin: 7.5px;
    border: 2px solid white;
    border-radius: 50%;
    &:hover {
        cursor: pointer;
    }
}

button {
    height: 20px;
}

.slide-container {
    width: 100%;
}

.color-picker-container {
    position: absolute;
    width: 360px;
    height: 310px;
    margin-left: auto;
    margin-top: auto;
    z-index: 0;
}