<div class="color-option-container">
    <div class="preview-container box-elem">
        <span>Primaire</span>
        <div
            class="color-preview"
            [ngStyle]="{ 'background-color': primaryColor ? primaryColor.getRgbString() : 'white' }"
            (click)="openColorPicker(true)"
        ></div>
    </div>
    <div class="slider-container box-elem">
        <input class="slider" type="range" min="0" max="100" [value]="primaryColor.a * 100" (input)="onAlphaChange($event.target.value, true)" />
        <span class="alpha-number">{{ primaryColor.a | percent }}</span>
    </div>
    <div class="preview-container">
        <span>Secondaire</span>
        <div
            class="color-preview"
            [ngStyle]="{ 'background-color': secondaryColor ? secondaryColor.getRgbString() : 'white' }"
            (click)="openColorPicker(false)"
        ></div>
    </div>
    <div class="slider-container">
        <input class="slider" type="range" min="0" max="100" [value]="secondaryColor.a * 100" (input)="onAlphaChange($event.target.value, false)" />
        <span class="alpha-number">{{ secondaryColor.a | percent }}</span>
    </div>
    <button (click)="swap()">Intervertir</button>
    <div class="color-history-wrapper box">
        <ng-container *ngFor="let color of colorHistory">
            <div
                class="color-choice"
                (mousedown)="onHistoryColorSelected($event, color)"
                [ngStyle]="{ 'background-color': color.getRgbString() }"
            ></div>
        </ng-container>
    </div>
</div>
