<div class="container">
    <div>
        <li class="sidebar-container-top">
            <ng-container *ngFor="let sidebarTool of sideBarToolsTop">
                <button mat-flat-button (click)="onButtonPressTop(sidebarTool)">{{ sidebarTool.name }}</button>
            </ng-container>
            <button mat-flat-button *ngIf="showUndo" (click)="undoRedo.undo()">{{ sideBarUndoRedoButtons[0].name }}</button>
            <button mat-flat-button *ngIf="showRedo" (click)="undoRedo.redo()">{{ sideBarUndoRedoButtons[1].name }}</button>
        </li>
    </div>
    <div>
        <li *ngFor="let sidebarTool of sideBarToolsBottom" class="sidebar-container-bottom">
            <button mat-flat-button (click)="onButtonPressBottom(sidebarTool.id)">{{ sidebarTool.name }}</button>
        </li>
    </div>
</div>
